* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 247, 247);
    font-family: 'Lexend', sans-serif;
}

.rectangle {
    background: rgb(50,26,112);
    background: linear-gradient(90deg, rgba(50,26,112,1) 0%, rgba(72,30,104,1) 50%, rgba(27,15,64,1) 100%);
    height: 15px;
}

.container.about-me {
    margin-top: 40px;
    margin-bottom: 20px;
    background-image: url(images/shapes-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 61%;
}

img.profile-pic {
    width: 251px;
    height: 251px;
    border-radius: 100%;
    border: solid 8px white;
    box-shadow: rgba(0, 0, 0, .15) 0 4px 8px 0;
}

h1 {
    color: rgb(213, 64, 76);
    font-size: 48px;
    font-weight: 800;
}

h2 {
    color: rgb(213, 64, 76);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
}

h3 {
    color: rgb(174, 174, 174);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}

h4 {
    color: rgb(174, 174, 174);
    font-size: 14px;
    font-weight: 500px;
}

p {
    color: rgb(174, 174, 174);
    font-size: 14px;
    font-weight: 500px;     
}

ul li {
    color: rgb(174, 174, 174);
    font-size: 14px;
    font-weight: 500px;
    
}
 
div.card-body {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .15) 0 4px 8px 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    
}

div.name-icons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    background: rgb(50,26,112);
    background: linear-gradient(90deg, rgba(50,26,112,1) 0%, rgba(72,30,104,1) 50%, rgba(27,15,64,1) 100%);
    height: 212px;
    position: relative;
    margin-top: 20px;
}

.container-custom {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
}

.illustration-wrapper {
    width: 372px;
    height: 372px;
    position: absolute;
    right: 170px;
    bottom: -210px;
}

.hand {
    position: absolute;
    left: -85px;
    top: 70px;
}

/* https://www.shapedivider.app/ */
.custom-shape-divider-top-1627425630 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1627425630 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 192px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1627425630 .shape-fill {
    fill: #F7F7F7;
}